# SQLite Database
db.sqlite3
db.sqlite3-journal

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
bin/
bin.bak/
pyvenv.cfg

# Migrations
*/migrations/*
!**/migrations
!**/migrations/__init__.py
