{% extends "base/base.html" %}
{% load static %}

{% block content %}
            <!-- HEADING-BANNER START -->
            <div class="heading-banner-area overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-banner">
                                <div class="heading-banner-title">
                                    <h2>Blog</h2>
                                </div>
                                <div class="breadcumbs pb-15">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Shortcodes</a></li>
                                        <li>Blog</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HEADING-BANNER END -->
            <!-- ELEMENTS-TAB START -->
            <div class="elements-tab  pt-80 pb-80">
                <div class="container">
                    <div class="row">                   
                        <div class="col-12">
                            <div class="elements-section-title mb-30 mt-30">
                                <h2>Blog style 2 </h2>
                            </div>
                        </div>
                    </div>
                </div>               
                <!-- BLGO-AREA START -->
                <div class="blog-area blog-2 pt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- element menu start -->
                                <div class="pb-30">
                                    <!-- Nav tabs -->
                                    <ul class="nav elements-menu">
                                        <li><a class="active" href="#elements-preview-3" data-bs-toggle="tab">PREVIEW</a></li>
                                        <li><a href="#elements-html-3"  data-bs-toggle="tab">HTML</a></li>
                                        <li><a href="#elements-css-3" data-bs-toggle="tab">CSS</a></li>
                                    </ul>
                                </div>
                                <!-- element menu end -->
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content row">
                            <div class="tab-pane active" id="elements-preview-3">
                                <!-- Section-title start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section-title text-center">
                                            <h2 class="title-border">From The Blog</h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- Section-title end -->
                                <div class="row">
                                    <!-- Single-blog start -->
                                    <div class="col-xl-4 col-md-6">
                                        <div class="single-blog mt-30">
                                            <div class="blog-photo">
                                                <a href="#"><img src="{% static 'img/blog/3.jpg' %}" alt="" /></a>
                                                <div class="like-share text-center fix">
                                                    <a href="#"><i class="zmdi zmdi-favorite"></i><span>89 Like</span></a>
                                                    <a href="#"><i class="zmdi zmdi-comments"></i><span>59 Comments</span></a>
                                                    <a href="#"><i class="zmdi zmdi-share"></i><span>29 Share</span></a>
                                                </div>
                                            </div>
                                            <div class="blog-info"> 
                                                <div class="post-meta fix">
                                                    <div class="post-date floatleft"><span class="text-dark-red">30</span></div>
                                                    <div class="post-year floatleft">
                                                        <p class="text-uppercase text-dark-red mb-0">June, 2021</p>
                                                        <h4 class="post-title"><a href="#" tabindex="0">Farniture drawing 2021</a></h4>
                                                    </div>
                                                </div>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.</p>
                                                <a href="#" class="button-2 text-dark-red">Read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-blog end -->
                                    <!-- Single-blog start -->
                                    <div class="col-xl-4 col-md-6">
                                        <div class="single-blog mt-30">
                                            <div class="blog-photo">
                                                <a href="#"><img src="{% static 'img/blog/4.jpg' %}" alt="" /></a>
                                                <div class="like-share text-center fix">
                                                    <a href="#"><i class="zmdi zmdi-favorite"></i><span>89 Like</span></a>
                                                    <a href="#"><i class="zmdi zmdi-comments"></i><span>59 Comments</span></a>
                                                    <a href="#"><i class="zmdi zmdi-share"></i><span>29 Share</span></a>
                                                </div>
                                            </div>
                                            <div class="blog-info"> 
                                                <div class="post-meta fix">
                                                    <div class="post-date floatleft"><span class="text-dark-red">30</span></div>
                                                    <div class="post-year floatleft">
                                                        <p class="text-uppercase text-dark-red mb-0">June, 2021</p>
                                                        <h4 class="post-title"><a href="#" tabindex="0">Farniture drawing 2021</a></h4>
                                                    </div>
                                                </div>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.</p>
                                                <a href="#" class="button-2 text-dark-red">Read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-blog end -->
                                    <!-- Single-blog start -->
                                    <div class="col-xl-4 col-md-6">
                                        <div class="single-blog mt-30">
                                            <div class="blog-photo">
                                                <a href="#"><img src="{% static 'img/blog/5.jpg' %}" alt="" /></a>
                                                <div class="like-share text-center fix">
                                                    <a href="#"><i class="zmdi zmdi-favorite"></i><span>89 Like</span></a>
                                                    <a href="#"><i class="zmdi zmdi-comments"></i><span>59 Comments</span></a>
                                                    <a href="#"><i class="zmdi zmdi-share"></i><span>29 Share</span></a>
                                                </div>
                                            </div>
                                            <div class="blog-info"> 
                                                <div class="post-meta fix">
                                                    <div class="post-date floatleft"><span class="text-dark-red">30</span></div>
                                                    <div class="post-year floatleft">
                                                        <p class="text-uppercase text-dark-red mb-0">June, 2021</p>
                                                        <h4 class="post-title"><a href="#" tabindex="0">Farniture drawing 2021</a></h4>
                                                    </div>
                                                </div>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.</p>
                                                <a href="#" class="button-2 text-dark-red">Read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-blog end -->
                                </div>
                            </div>
                            <div class="tab-pane" id="elements-html-3"> 
<figure class="highlight">
<pre>
<code>
    &lt;!-- Section-title start --&gt;
    &lt;div class="row"&gt;
    &lt;div class="col-lg-12"&gt;
    &lt;div class="section-title text-center"&gt;
    &lt;h2 class="title-border"&gt;From The Blog&lt;/h2&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Section-title end --&gt;
    &lt;div class="row"&gt;
    &lt;!-- Single-blog start --&gt;
    &lt;div class="col-lg-4 col-md-6"&gt;
    &lt;div class="single-blog mt-30"&gt;
    &lt;div class="blog-photo"&gt;
    &lt;a href="#"&gt;&lt;img src="{% static 'img/blog/3.jpg' %}" alt="" /&gt;&lt;/a&gt;
    &lt;div class="like-share text-center fix"&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-favorite"&gt;&lt;/i&gt;&lt;span&gt;89 Like&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-comments"&gt;&lt;/i&gt;&lt;span&gt;59 Comments&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-share"&gt;&lt;/i&gt;&lt;span&gt;29 Share&lt;/span&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="blog-info"&gt;
    &lt;div class="post-meta fix"&gt;
    &lt;div class="post-date floatleft"&gt;&lt;span class="text-dark-red"&gt;30&lt;/span&gt;&lt;/div&gt;
    &lt;div class="post-year floatleft"&gt;
    &lt;p class="text-uppercase text-dark-red mb-0"&gt;June, 2021&lt;/p&gt;
    &lt;h4 class="post-title"&gt;&lt;a href="#" tabindex="0"&gt;Farniture drawing 2021&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;p&gt;There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.&lt;/p&gt;
    &lt;a href="#" class="button-2 text-dark-red"&gt;Read more...&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Single-blog end --&gt;
    &lt;!-- Single-blog start --&gt;
    &lt;div class="col-lg-4 col-md-6"&gt;
    &lt;div class="single-blog mt-30"&gt;
    &lt;div class="blog-photo"&gt;
    &lt;a href="#"&gt;&lt;img src="{% static 'img/blog/4.jpg' %}" alt="" /&gt;&lt;/a&gt;
    &lt;div class="like-share text-center fix"&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-favorite"&gt;&lt;/i&gt;&lt;span&gt;89 Like&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-comments"&gt;&lt;/i&gt;&lt;span&gt;59 Comments&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-share"&gt;&lt;/i&gt;&lt;span&gt;29 Share&lt;/span&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="blog-info"&gt;
    &lt;div class="post-meta fix"&gt;
    &lt;div class="post-date floatleft"&gt;&lt;span class="text-dark-red"&gt;30&lt;/span&gt;&lt;/div&gt;
    &lt;div class="post-year floatleft"&gt;
    &lt;p class="text-uppercase text-dark-red mb-0"&gt;June, 2021&lt;/p&gt;
    &lt;h4 class="post-title"&gt;&lt;a href="#" tabindex="0"&gt;Farniture drawing 2021&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;p&gt;There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.&lt;/p&gt;
    &lt;a href="#" class="button-2 text-dark-red"&gt;Read more...&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Single-blog end --&gt;
    &lt;!-- Single-blog start --&gt;
    &lt;div class="col-lg-4 col-md-6"&gt;
    &lt;div class="single-blog mt-30"&gt;
    &lt;div class="blog-photo"&gt;
    &lt;a href="#"&gt;&lt;img src="{% static 'img/blog/5.jpg' %}" alt="" /&gt;&lt;/a&gt;
    &lt;div class="like-share text-center fix"&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-favorite"&gt;&lt;/i&gt;&lt;span&gt;89 Like&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-comments"&gt;&lt;/i&gt;&lt;span&gt;59 Comments&lt;/span&gt;&lt;/a&gt;
    &lt;a href="#"&gt;&lt;i class="zmdi zmdi-share"&gt;&lt;/i&gt;&lt;span&gt;29 Share&lt;/span&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="blog-info"&gt;
    &lt;div class="post-meta fix"&gt;
    &lt;div class="post-date floatleft"&gt;&lt;span class="text-dark-red"&gt;30&lt;/span&gt;&lt;/div&gt;
    &lt;div class="post-year floatleft"&gt;
    &lt;p class="text-uppercase text-dark-red mb-0"&gt;June, 2021&lt;/p&gt;
    &lt;h4 class="post-title"&gt;&lt;a href="#" tabindex="0"&gt;Farniture drawing 2021&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;p&gt;There are many variations of passages of Lorem Ipsum available, but the majority have suffered If you are going to use a passage  Lorem Ipsum, you alteration in some form.&lt;/p&gt;
    &lt;a href="#" class="button-2 text-dark-red"&gt;Read more...&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- Single-blog end --&gt;
    &lt;/div&gt;
</code>
</pre>
</figure>                                     
                            </div>
                            <div class="tab-pane" id="elements-css-3">
<figure class="highlight">
<pre>
<code>
    .single-blog { transition: all 0.5s ease 0s;}
    .post-date {
    border: 1px solid #d6948c;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    }
    .post-date span {
    font-size: 20px;
    font-weight: 700;
    }
    .post-year { padding-left: 10px;}
    .post-year p {font-weight: 700;}
    .like-share {padding: 12px 0;}
    .like-share a {
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-right: 20px;
    }
    .like-share a:hover { color: #c87065;}
    .like-share a:last-child { margin-right: 0;}
    .like-share a i { padding: 0 8px 0 2px;}
    .blog-photo { overflow: hidden;}
    .single-blog:hover .blog-photo img { transform: scale(1.1);}
    .blog-photo img {
    width: 100%;
    transition: all 0.5s ease 0s;
    }
    .blog-photo a { display: block;}
    .blog-2 .single-blog {
    background: #fff none repeat scroll 0 0;
    padding: 25px;
    }
    .blog-2 .blog-photo { position: relative;}
    .blog-2 .like-share {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    bottom: -40px;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    }
    .blog-2 .like-share a {
    color: #444;
    display: inline-block;
    float: none;
    }
    .blog-2 .like-share a:hover { color: #c87065;}
    .blog-2 .post-meta { padding: 30px 0 10px;}
    .blog-2 .single-blog:hover { box-shadow: 1px 25px 54px rgba(0, 0, 0, 0.12);}
    .blog-2 .single-blog:hover .blog-photo img { transform: none;}
    .blog-2 .single-blog:hover .like-share {
    bottom: 0;
    visibility: visible;
    }
</code>
</pre>
</figure> 
                            </div>                             
                        </div> 
                    </div>
                </div>
                <!-- BLGO-AREA END -->
            </div>
            <!-- ELEMENTS-TAB END -->
            <!-- FOOTER START -->
           			{% endblock %}