{% extends "base/base.html" %}
{% load static %}

{% block content %}

			<!-- HEADING-BANNER START -->
			<div class="heading-banner-area overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>Single-Blog</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li>Single-Blog</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- HEADING-BANNER END -->
			<!-- BLOG-AREA START -->
<div class="blog-area blog-2 blog-details-area pt-80 pb-80">
    <div class="container">
        <div class="blog">
            <div class="row">
                <!-- Single-blog start -->
                <div class="col-lg-12">
                    <div class="single-blog mb-30">
                        <div class="blog-photo">
                            <a href="#"><img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="width:1090px; height:450px; object-fit:cover;" /></a>
                            <div class="like-share fix">
                                <a href="#"><i class="zmdi zmdi-account"></i><span>{{ blog.author.username }}</span></a>
                                <a href="#"><i class="zmdi zmdi-favorite"></i><span>{{ blog.total_likes }} Likes</span></a>
                                <a href="#"><i class="zmdi zmdi-comments"></i><span>{{ blog.comments.count }} Comments</span></a>
                                <a class="d-none d-md-block" href="#"><i class="zmdi zmdi-share"></i><span>Share</span></a>
                            </div>
                            <div class="post-date post-date-2">
                                <span class="text-dark-red">{{ blog.date_posted|date:"d" }}</span>
                                <span class="text-dark-red text-uppercase">{{ blog.date_posted|date:"F" }}</span>
                            </div>
                        </div>
                        <div class="blog-info blog-details-info">
                            <h4 class="post-title post-title-2">
                                <a href="#">{{ blog.title }}</a>
                            </h4>
                            <p>{{ blog.content|linebreaks }}</p>

                            <div class="post-share-tag clearfix mt-40">
                                <div class="post-share floatleft">
                                    <span class="text-uppercase"><strong>Share</strong></span>
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                                    <a href="#"><i class="zmdi zmdi-vimeo"></i></a>
                                    <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                                <div class="post-share post-tag floatright">
                                    <span class="text-uppercase"><strong>tags</strong></span>
                                    {% for tag in blog.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>

                            {% comment %} <div class="author-comments clearfix mt-40">
                                <div class="author-photo floatleft">
                                    <img src="{% static 'img/reviewer/author.jpg' %}" alt="{{ blog.author.username }}" />
                                </div>
                                <div class="author-brief">
                                    <h3 class="font-16px"><strong>{{ blog.author.get_full_name }}</strong></h3>
                                    <p>{{ blog.author.profile.bio }}</p>
                                </div>
                            </div> {% endcomment %}
                                        <div class="pro-reviews mt-60">
											<div class="customer-review mb-60">
												<h3 class="tab-title title-border mb-30">Customer comments</h3>
												<ul class="product-comments clearfix">
													{% comment %} <li class="mb-30">
														<div class="pro-reviewer">
															<img src="img/reviewer/1.jpg" alt="" />
														</div>
														<div class="pro-reviewer-comment">
															<div class="fix">
																<div class="floatleft mbl-center">
																	<h5 class="text-uppercase mb-0"><strong>Gerald Barnes</strong></h5>
																	<p class="reply-date">27 Jun, 2021 at 2:30pm</p>
																</div>
																<div class="comment-reply floatright">
																	<a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</div>
															</div>
															<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
														</div>
													</li> {% endcomment %}
													<li class="threaded-comments">
														<div class="pro-reviewer">
															<img src="{% static 'img/reviewer/1.jpg' %}" alt="" />
														</div>
														<div class="pro-reviewer-comment">
                                                            {% for comment in comments %}
															<div class="fix">
																<div class="floatleft mbl-center">
																	<h5 class="text-uppercase mb-0"><strong>{{ comment.user.username }}</strong></h5>
                                                                    <p class="reply-date"> {{ comment.date_posted|date:"d M, Y \\a\\t g:ia" }} </p>
																</div>
																<div class="comment-reply floatright">
																	<a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
																	<a href="#"><i class="zmdi zmdi-close"></i></a>
																</div>
															</div>
															<p class="mb-0">{{ comment.message }}</p>
                                                            {% endfor %}
														</div>
													</li>
												</ul>
											</div>
                                        </div>

                                <div class="leave-review">
                                    <h3 class="tab-title title-border mb-30">Leave your review</h3>
                                    <div class="reply-box">
                                        <form action="{% url 'blog_detail' blog.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
												<div class="col-md-6">
												    <input type="text" placeholder="Your name here..." name="name" />
												</div>
												<div class="col-md-6">
													<input type="text" placeholder="Your email here..." name="email" />
												</div>
														</div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea class="custom-textarea" name="message" placeholder="Your review here..." required></textarea>
                                                    <button type="submit" data-text="submit review" class="button-one submit-button mt-20">submit review</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>										
                        </div>
                    </div>
                </div>
                <!-- Single-blog end -->
            </div>
        </div>
    </div>
</div>
<!-- BLOG-AREA END -->

			<!-- BLGO-AREA END -->		
			{% endblock %}

            